node_modules/
coverage/
test/
tmp/
.idea/
.github/
.editorconfig
.eslintrc
.hound.yml
.javascript_ignore
.jscsrc
.jshintrc
.stylintrc
.DS_Store
*.log
*.iml
.npmignore
.travis.yml
appveyor.yml
crowdin.yml
gulpfile.js
